body {
    background-image: url("https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80") !important;
}

.centered-card-group {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    gap: 20px;
    padding: 20px 40px !important;
}

.song-card {
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 155px;
    margin: 0 !important;
}

.song-card .content {
    width: 100%;
}

.song-card h2 {
    font-size: 1.2rem;
    margin: 8px 0;
}

.song-card h3 {
    font-size: 1rem;
    margin: 4px 0;
    color: var(--active-color);
}

.song-card p {
    margin: 8px 0;
}

.song-card audio {
    width: 100%;
    margin-top: 12px;
}

.delete-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: transparent;
    color: #ff0000; /* Adjust the color as needed */
}
.audio-bar {
    width: 100%;
}
