.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.playbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.playbar-details {
    display: flex;
    align-items: center;
}

.song-cover {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.song-info {
    line-height: 1.2;
}

.song-title {
    font-size: 14px;
    margin: 0;
}

.song-artist {
    font-size: 12px;
    margin: 0;
}

.playback-controls {
    display: flex;
    align-items: center;
}

.control-button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 8px;
    transition: color 0.3s;
}

.control-button:hover {
    color: #1ed760; /* Spotify's green color */
}

#play-button i {
    font-size: 1.8em;
}

#audio-player {
    position: absolute;
    left: 9999px;
}